@import url("https://fonts.googleapis.com/css?family=Montserrat|Rubik|Rubik:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaria: #212529;
    --secundaria: #68d3a9;
    --escura: #151918;
    --clara: #f5f9f8;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: #0f0f0f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23151918' fill-opacity='0.37'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.funcionalidades button {
    font-size: initial;
    transition: all 0.2s;
    background-color: var(--escuro);
    color: var(--clara);
  }
  
  .funcionalidades button:hover {
    color: var(--clara);
    background-color: #0f0f0f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23212529' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    animation: brilho 0.8s infinite;
  }
  
  .funcionalidades button:active {
    color: var(--clara) !important;
    background-color: #212529 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%230f0f0f' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }

.elementoMovivel-container {
    position: absolute;
    width: 0;
}

.elementoMovivel {
    width: fit-content;
    border: 3px solid var(--primaria);
    position: relative;
    max-width: 25vw;
}

.elementoMovivel header {
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    background-color: var(--escura);
    color: var(--clara);
}

.elementoMovivel header img {
    min-width: 75px;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
}

.elementoMovivel-nome {
    overflow: hidden;
}

.linkInsert {
    width: 20px;
    height: 20px;
    background-color: var(--clara);
    border: 2px solid var(--primaria);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

span.linkInsert:first-of-type {
    background-color: red;
    left: -10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

span.linkInsert:nth-of-type(2) {
    background-color: blue;
    left: 0;
    right: 0;
    top: -10px;
    margin: 0 auto;
}

span.linkInsert:nth-of-type(3) {
    background-color: yellow;
    right: -10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

span.linkInsert:last-of-type {
    background-color: green;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: 0 auto;
}